.itemLink {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  font-family: open sans,sans-serif;
  border-top: .4rem solid transparent;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}