.icon-drop-down {
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  position: relative;
  background: transparent;

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 4px;
    width: calc(100% - 5px);
    background: #ffffff;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: -8px;
      height: 4px;
      background: #ffffff;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 8px;
      height: 4px;
      background: #ffffff;
    }
  }

  &:focus {
    outline: none;
  }
}

.icon-drop-down--open {
  span {
    background: transparent;
    width: 100%;

    &:before {
      top: 0;
      height: 3px;
      transform: rotate(45deg);
    }

    &:after {
      top: 0;
      height: 3px;
      transform: rotate(-45deg);
    }
  }
}