@import "../../../Style/mixins/media";

.button {
  padding: 6.5px 23px 7.5px;
  border: 2px solid #2ca0ff;
  transition: all .2s ease;
  color: #2ca0ff;
  font-family: Open Sans,sans-serif;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border-radius: 2rem;
  background-color: transparent;

  &--blue {
    border-color: #2ca0ff;
    color: #2ca0ff;
    margin: 0px 15px 0px 0px;

    &:hover {
      border-color: #2ca0ff;
      background-color: #2ca0ff;
      color: #fff;
    }
  }

  &--orange {
    border-color: #ff7b0a;
    background-color: #ff7b0a;
    color: #ffffff;

    &:hover {
      border-color: #e76403;
      background-color: #e76403;
    }
  }

  &.show-sm {
    display: none;
  }
}

@include breakpoint(mobile, max) {
    .button {
      padding: 4px 23px;

      &--blue {
        margin: 0;
      }

      &.hidden-sm {
        display: none;
      }

      &.show-sm {
        display: flex;
        margin: 3px auto 0;
      }

    }
}

