@import "../../../Style/mixins/media";

.header {
  color: red;
  background-color: #190b2c;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@include breakpoint(mobile, max) {
  .header {
    position: relative;
  }
}